---
layout: default
---

<header class="header">
  <div class="header-small">
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </div>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
  <div class="site-category">
    <ul class='cat1'>
      <li><a href="/">Home</a></li>
      <li><a href="/">Concepts</a>
        <ul>
            <li><a href="/Concepts/Stats">Statistics</a></li>
            <li><a href="/Concepts/NLP">NLP</a></li>
            <li><a href="/Concepts/ETC">ETC</a></li>
        </ul>
      </li>

      <li><a href="/">Codes</a>
        <ul>
          <li><a href="/Codes/FS">From Scratch</a></li>
          <li><a href="/Codes/FS">Tips</a></li>          
        </ul>
      </li>

      <li><a href="/">Papers</a>
        <ul>
            <li><a href="/Papers/FATE">FATE</a></li>
            <li><a href="/Papers/NLP">NLP</a></li>
            <li><a href="/Papers/ETC">ETC</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>

<div class="page">
  <div class="page-title">{{ page.title }}</div>
  {{ content }}
</div>
